@{
    ViewBag.Title = "Senadores";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-dark hide"></i>
            <span class="caption-subject font-hide bold uppercase">Senadores do Estado de São Paulo</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <!--begin: widget 1-1 -->
                    <div class="mt-widget-1 active">
                        <div class="mt-img">
                            <img src="http://www.senado.leg.br/senadores/img/fotos-oficiais/senador846.jpg">
                        </div>
                        <div class="mt-body">
                            <h3 class="mt-username">Aloysio Nunes Ferreira</h3>
                            <p class="mt-user-title"> PSDB </p>
                        </div>
                    </div>
                    <!--end: widget 1-1 -->
                </div>
                <div class="row">
                    <!--begin: widget 1-2 -->
                    <div class="mt-widget-1">
                        <div class="mt-img">
                            <img src="http://www.senado.leg.br/senadores/img/fotos-oficiais/senador878.jpg">
                        </div>
                        <div class="mt-body">
                            <h3 class="mt-username">José Aníbal</h3>
                            <p class="mt-user-title"> PSDB </p>
                        </div>
                    </div>
                    <!--end: widget 1-2 -->
                </div>
                <div class="row">
                    <!--begin: widget 1-3 -->
                    <div class="mt-widget-1">
                        <div class="mt-img">
                            <img src="http://www.senado.leg.br/senadores/img/fotos-oficiais/senador5000.jpg">
                        </div>
                        <div class="mt-body">
                            <h3 class="mt-username">Marta Suplicy</h3>
                            <p class="mt-user-title"> PMDB </p>
                        </div>
                    </div>
                    <!--end: widget 1-3 -->
                </div>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <div id="barchart_material" style="width: 900px; height: 500px;"></div>
            </div>
        </div>
    </div>
</div>