<div class="row margin-lr-m5 margin-t-10">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="filtroAno">Ano</label>
            <select class="form-control" id="filtroAno" ng-model="vm.Filtros.Ano" ng-change="vm.Atualizar(null, true)"
                    ng-options="Ano for Ano in vm.Anos | orderBy: '-'">
                <option value="">Tudo</option>
            </select>
        </div>
    </div>
     <div class="col-sm-3">
        <div class="form-group">
            <label for="filtroCodigo">Código</label>
            <input type="text" class="form-control" id="filtroCodigo" ng-model="vm.Filtros.Codigo" ng-keypress="vm.Atualizar($event)">
        </div>
    </div>
    <div class="col-sm-7">
        <div class="form-group">
            <label for="filtroEmenta">Ementa</label>
            <input type="text" class="form-control" id="filtroEmenta" ng-model="vm.Filtros.Ementa" ng-keypress="vm.Atualizar($event)">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="filtroAssuntoGeral">Assunto Geral</label>
            <select class="form-control" id="filtroAssuntoGeral" ng-model="vm.Filtros.CodigoAssuntoGeral" ng-change="vm.Atualizar()"
                    ng-options="MateriaAssuntoGeral for MateriaAssuntoGeral in vm.MateriasAssuntosGerais">
                <option value="">Tudo</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="filtroAssuntoEspecifico">Assunto Específico</label>
            <select class="form-control" id="filtroAssuntoEspecifico" ng-model="vm.Filtros.CodigoAssuntoEspecifico" ng-change="vm.Atualizar()"
                    ng-options="MateriaAssunto.Codigo as MateriaAssunto.AssuntoEspecifico for MateriaAssunto in vm.MateriasAssuntos 
                    | filter: (vm.MateriaAssuntoGeral && MateriaAssunto.Codigo != 0 || '') && { AssuntoGeral: vm.MateriaAssuntoGeral }">
                <option value="">Tudo</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="filtroSubtipo">Subtipo</label>
            <select class="form-control" id="filtroSubtipo" ng-model="vm.Filtros.CodigoSubtipo" ng-change="vm.Atualizar(null, true)"
                    ng-options="MateriaSubtipo.Codigo as MateriaSubtipo.Descricao for MateriaSubtipo in vm.MateriasSubtipos">
                <option value="">Tudo</option>
            </select>
        </div>
    </div>
</div>