<section class="content-header">
    <h1>
        Lista de Senadores
        <small ng-if="vm.Paginacao.Ordem == 'Nome ASC'">Por Nome (Ascendente)</small>
        <small ng-if="vm.Paginacao.Ordem == 'Nome DESC'">Por Nome (Descendente)</small>
        <small ng-if="vm.Paginacao.Ordem == 'SiglaPartido ASC'">Por Partido (Ascendente)</small>
        <small ng-if="vm.Paginacao.Ordem == 'SiglaPartido DESC'">Por Partido (Descendente)</small>
        <small ng-if="vm.Paginacao.Ordem == 'UfMandato ASC'">Por Estado (Ascendente)</small>
        <small ng-if="vm.Paginacao.Ordem == 'UfMandato DESC'">Por Estado (Descendente)</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active"><a href="#">Senadores</a></li>
        <!--<li class="active">Por Partido</li>-->
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-body">
            <div ng-include="'app/components/senadores/partials/filtros.partial.html'"></div>
            <div class="border-tb-1"
                 ng-include="'app/components/senadores/partials/paginacao.partial.html'"></div>
            <table class="table table-hover">
                <thead>
                <tr class="vmiddle">
                    <th class="col-sm-2">
                        Foto
                    </th>
                    <th class="col-sm-7">
                        Nome
                        <span ng-if="vm.Paginacao.Ordem == 'Nome ASC'" class="fa fa-caret-up pull-right margin-r-10 padding-t-3"></span>
                        <span ng-if="vm.Paginacao.Ordem == 'Nome DESC'" class="fa fa-caret-down pull-right margin-r-10 padding-t-3"></span>
                    </th>
                    <th class="col-sm-3">
                        Partido
                        <span ng-if="vm.Paginacao.Ordem == 'SiglaPartido ASC'" class="fa fa-caret-up pull-right margin-r-10 padding-t-3"></span>
                        <span ng-if="vm.Paginacao.Ordem == 'SiglaPartido DESC'" class="fa fa-caret-down pull-right margin-r-10 padding-t-3"></span>
                    </th>
                    <th class="col-sm-3">
                        Estado
                        <span ng-if="vm.Paginacao.Ordem == 'UfMandato ASC'" class="fa fa-caret-up pull-right margin-r-10 padding-t-3"></span>
                        <span ng-if="vm.Paginacao.Ordem == 'UfMandato DESC'" class="fa fa-caret-down pull-right margin-r-10 padding-t-3"></span>
                    </th>
                    <th class="col-sm-2">
                        E-mail
                    </th>
                    <th class="col-sm-3">
                        Ações
                    </th>
                </tr>
                </thead>
                <tbody ng-if="!vm.Senadores.length">
                    <tr>
                        <td class="text-center" colspan="6">
                            <h3>
                                <span class="glyphicon glyphicon-alert"></span>
                                &nbsp;&nbsp;&nbsp;Nenhum Senador encontrado com os filtros selecionados!
                            </h3>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr ng-repeat="Senador in vm.Senadores">
                        <td>
                            <img ng-src="{{Senador.UrlFoto}}" />
                        </td>
                        <td>
                            <h3><a ng-href="{{Senador.UrlPagina}}" target="_blank">{{Senador.Nome}}</a></h3>
                        </td>
                        <td>
                            <h3>{{Senador.SiglaPartido}}</h3>
                        </td>
                        <td>
                            <h3><img ng-src="assets/img/uf/{{Senador.UfMandato}}_p.gif" />&nbsp;&nbsp;{{Senador.UfMandato}}</h3>
                        </td>
                        <td class="vmiddle">
                            <h4>{{Senador.Email}}</h4>
                        </td>
                        <td class="vmiddle">
                            <a ui-sref="senador.votos({ id: {{Senador.Codigo}} })" class="btn btn-block btn-default">
                                <i class="fa fa-bar-chart"></i>
                                &nbsp;&nbsp;&nbsp;Votos
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-include="'app/components/senadores/partials/paginacao.partial.html'"></div>
        </div>
    </div>
</section>